/*Heads*/
.manifold-text-section .ch {
    font-variant-caps: normal;
    margin-top: 1.25em;
    margin-bottom: 0;
    text-indent: 0;
    text-align: left;
    font-size: 110%;
}

.manifold-text-section p {
    text-indent: 0em;
}

.manifold-text-section .textTitle {
    margin-left: 0rem;
}

.manifold-text-section .au {
    margin-left: 0rem;
    font-size: 100%;
}

.manifold-text-section figure {
    width: 60%;
}

.manifold-text-section .figcap {
    font-size: 90%;
}

.manifold-text-section .rf {
    margin-left: 3em;
    text-indent: -3em;
    text-align: left;
    margin-bottom: 20px;
}