/*Heads*/
.manifold-text-section p {
    text-indent: 0em;
}

.manifold-text-section .textTitle {
    margin-left: 0rem;
}

.manifold-text-section .au {
    margin-left: 0rem;
    font-size: 100%;
}

.manifold-text-section .ah {
    font-weight: bold;
    font-size: 125%;
    margin-top: 1.25em;
    margin-right: 20%;
    margin-bottom: 0;
    text-indent: 0;
    text-align: center;
    text-transform: uppercase;
}

.manifold-text-section .bh {
    font-size: 125%;
    font-weight: bold;
    font-style: normal;
    margin-top: 1.25em;
    margin-bottom: 0%;
    text-indent: 0;
    text-align: left;
    text-transform: capitalize;
}

.manifold-text-section .ch {
    margin-top: 1.25em;
    margin-bottom: 0;
    text-indent: 0;
    text-align: left;
    font-size: 120%;
    text-transform: capitalize;
    font-variant-caps: titling-caps;
    font-weight: bold;
    font-style: italic;
}

.text-section h4 {
    font-weight: bold;
    text-transform: normal;
    text-align: left;
}

h5 {
    font-weight: normal;
    font-style: italic;
    text-transform: normal;
    text-align: left;
    font-size: 1em;
}