/*Heads*/
.manifold-text-section p {
    text-indent: 0em;
}

.manifold-text-section .textTitle {
    margin-left: 0rem;
}

.manifold-text-section .au {
    margin-left: 0rem;
    font-size: 100%;
}

.textTitle {
    font-size: 2.5em;
}

.manifold-text-section .ah {
    font-weight: bold;
    margin-top: 1.25em;
    margin-right: 0;
    margin-bottom: 0;
    text-indent: 0;
    text-align: center;
    text-transform: uppercase;
}

.manifold-text-section .bh {
    font-weight: bold;
    font-style: normal;
    margin-top: 1.25em;
    margin-bottom: 0%;
    text-indent: 0;
    text-align: left;
    text-transform: capitalize;
}

.manifold-text-section .ch {
    margin-top: 1.25em;
    margin-bottom: 0;
    text-indent: 0;
    text-align: left;
    font-size: 1.6em;
    text-transform: capitalize;
    font-variant-caps: titling-caps;
    font-weight: bold;
    font-style: italic;
}

.manifold-text-section .tabletitle {
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

.text-section img {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}

.manifold-text-section figure {
    width: 75%;
}

.manifold-text-section .rf {
    margin-left: 3em;
    text-indent: -3em;
    text-align: left;
    margin-bottom: 20px;
}

.manifold-text-section .bqs {
    margin-top: 1em;
    margin-right: 1.4em;
    margin-left: 2em;
    text-indent: 0em;
    text-align: left;
}

.manifold-text-section .bqs + .bqs {
    margin-top: 1em;
    margin-right: 1.4em;
    margin-left: 2em;
    text-indent: 0em;
    text-align: left;
}

h1 {
    font-size: 2.0em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

.manifold-text-section .ch {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1.2em;
    font-weight: normal;
    font-style: italic;
}